* {
    font-family: "Montserrat", Arial, sans-serif;
    box-sizing: border-box;
}

.wrapper {
    background-image: url(../assets/form-background-image.png);
    display: flex;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: #FBF8F3;
    background-position: right;
}

.wrapper {
    background-color: #FBF8F3;
}

.form-container {
    background-color: #FBF8F3;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#form-input {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#submit-btn{
    margin-top: 70px;
    color: #4B626C;
    font-size: 30px;
    width: 70px;
    align-self: flex-end;
}

#submit-btn:disabled{
    background-color: transparent;
    color: #afcbd6;
    border: 1px solid #afcbd600;
}

#submit-btn:hover {
    background-color: #4B626C;
    color: #FBF8F3;
}

#submit-btn:disabled:hover {
    background-color: transparent;
    color: #afcbd6;
    border: 1px solid #afcbd600;
}

.form-title {
    font-weight: 400;
    font-size: 64px;
    color: #4B626C;
    text-align: center;
}

#form-input input {
    margin: 62px 0;
    height: 50px;
    width: 390px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: none;
    background-color: #EFEFEF;
    box-shadow: 3px 3px 15px #00000049;
    font-weight: 300;
    font-size: 24px;
    padding-left: 10px;
}

#form-input input::placeholder {
    color: #97A4A2;
}

#form-input input:focus {
    outline: none;
}

.error-message {
    text-align: center;
    padding: 5px;
    display: inline-block;
    width: 280px;
    color: red;
    font-size: 20px;
    margin-top: 5px;
    background-color: #ffffff;
    border: 2px solid #ff0000;
    border-radius: 5px;
    box-shadow: 1px 1px 8px 0.5px #ff000071;
}

.link {
    margin-left: 100px;
    align-self: flex-start;
    font-weight: 500;
    font-size: 20px;
    color: #97A4A2;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

@media (max-width: 1600px) {
    .form-container {
        width: 100vw;
        
        min-width: 0;
    }

    #form-input input {
        width: 80%;
    }

    .wrapper {
        background-image: none;
    }
}