#navbar-info {
    display: flex;
    align-items: center;
}

.nav-bar {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    background-color: #FBF6F0;
}

#nav-bar-logo:hover {
    cursor: pointer;
}

.search-bar {
    display: flex;
    background-color: #97a4a286;
    width: 40%;
    max-width: 200px;
    min-width: 200px;
    height: 40px;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    align-self: center;
    box-shadow: 2px 3px 4px #0000003d;
}

#search-input {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 30px;
    border: none;
    background-color: transparent;
}

#search-input:focus {
    outline: none;
}

#search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

#search-icon {
    margin-left: auto;
    width: 20px;
    height: 20px;
}

#search-icon:hover {
    cursor: pointer;
}

@media (max-width: 1460px) {
    .search-bar{
        order: -1;
        max-width: 40%;
    }
    #nav-bar-logo {
        order: -2;
    }
}